@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    background-color: #1E1D2B;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

hr{
    border-color: #ff702a;
    width: 15%;
}
.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
    height: 80px;
    z-index: 45;
    position: fixed;
    width: 100%;
    box-shadow:  1px 13px 20px 0px #0d0c12;


}


    

.title{
    color:#ff702a;
    padding-left: 5%;
    font-size: clamp(2em,5vw,3em);
    width: 20%;
    justify-self: flex-start;
}

.options{
    color:aliceblue;
    text-decoration: none;
    font-size: 2rem;
    background-color:transparent;
    
}
li,ul{
    background-color: transparent;
}
.navoptions{
    
    width: 100%;
    background-color:#1e1d2bf2;
    position:absolute;
    top:80px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    left: 0;
    gap:1rem;
    transition: all 0.7s;
    z-index: 3;
}

.list-icon{
    display:block;
    cursor: pointer;

}
.menu{
    display: none;
}
.menu:checked + .navoptions{
    height: calc(100vh - 80px);
}


@media screen and (min-width:760px){
    .menu-icon{display: none;}
    .navoptions{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap:1.5rem;
        background-color: #1E1D2B;
        padding: 10px;
        padding-right: 30px;
    }
    .options{
        padding: 5px;
        font-size: clamp(1.5em,3vw,2em);
        transition: 0.1s;
        
    }

    .options:hover{
        border-radius: 10px;
        outline: solid 1px #ff702a;
        
    }
    .options:active{
        background-color: #ff712ac5;
    }
    .options:focus{
        background-color: #ff712a5d;

    }
}

.maintitle{
    color:#ff702a;
    font-size: clamp(2.5rem,5vw,6rem);
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 800;
}
.maintext{
    color: white;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: clamp(1rem,5vw,1.5rem);
    text-align: center;
    font-weight: 200;
}
.button{
    padding:5px;
    margin: 5%;
    background-color: #ff702a;
    color:white;
    width: max-content;
    font-size: clamp(1.6em,1vw,2em);
    text-decoration: none;

}
.derechahome{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}
.izquierdahome{
    width: max-content;
    display: flex;
    justify-content: center;
    width: 90vw;
    z-index: 0;
}
.img{
    padding: 5%;
    width: 90%;
}
.home{
    padding: 60px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:760px){
    .home{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}}  

.aboutus{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
    padding-top: 100px;
    padding: 10px;
    

}
.abouttitle{
    padding-top: 100px;
    color: #ff702a;
    font-size: 1.5rem;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 800;
    
}
.abouttext,.textmenu,.servicestext{
    color: white;
    font-size: clamp(2rem,2vw,3rem);
    padding-bottom: 2%;
    text-align: center;
    font-weight: 600;
}
.abouttext2{
    color: white;
    font-size: clamp(1rem,2vw,1.5rem);
    padding-bottom: 2%;
    text-align: center;
    font-weight: 200;
}
.izqabout{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
    z-index: 1;
    padding: 2%;
    padding-left: 5%;
}
.derabout{
    
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    z-index: 1;
}
@media screen and (min-width:760px){
    .aboutus{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}}  

/*----------------------------------*/
.foodmenu,.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.food,.infoservices {
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    
}
.titlemenu,.servicestitle{
    padding-top: 100px;
    color: #ff702a;
    font-size: 1.5rem;
    padding-bottom: 1%;
    text-align: center;
    font-weight: 800;
    
}
.foodsquare{
    
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow:4px 5px 20px 0px  rgba(255,112,42,0.75);;
    margin-bottom: 50px ;
    aspect-ratio: 1/1;
    position: relative;
    
}
.foodimg{
    
    background-color: rgba(250, 235, 215, 0);
    margin-bottom: 10px;
    width: 150px;
}
.name {
    background-color: rgba(250, 235, 215, 0);
    text-align: center;
    font-size: 1rem;
}
.down {
    background-color: antiquewhite;
    font-size: 0.8rem;
}
.price{
    background-color: antiquewhite;
    color: #ff702a;
    font-size:0.8rem;
}

i{
    background-color: #ff702a;
    width: 10%;
    height: 10%;
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
}

@media screen and (min-width:760px){
    .food{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
    .foodsquare{
        width: 20%;
        height: 20%;
        
        aspect-ratio: 1/1;
    }
    .foodimg{
        width: 50%;
    }
} 
.boxservices{
    
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 30px;
    box-shadow:4px 5px 20px 0px  rgba(255,112,42,0.75);;
    margin-bottom: 50px ;
    aspect-ratio: 1/1;
}
.imgservice{
    width: 150px;
}

.description {
    color: white;
    text-align: center;
    font-size: 0.8rem;
}
.subservice {
    color: #ff702a;
    font-size: 1rem;
}
@media screen and (min-width:760px){
    .infoservices{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%; 
}
    .boxservices{
        width: 20%;
        height: 20%;
        aspect-ratio: 1/1;
    }
    
    .imgservice{
        width: 90%;
    }

}

.mensaje {
    padding: 15%;
    margin:0 auto;
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-color: antiquewhite;
    
}
.textmensaje {
    margin: 0 auto;
    background-color: antiquewhite;
    color: #1E1D2B;
    font-size: xx-large;
    text-align:center;
    font-weight: 800;
}

@media screen and (min-width:760px){
    .mensaje{
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100px;
        padding: 10%;
    }

    .textmensaje{
        font-size: 3rem;
    }
    
}

/*--------------------------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
ul{
    list-style: none;
}
.boxcontact:last-child{
    align-self:center;
    padding-left: 0;
    justify-content: center;
}
.boxcontact {
    margin-bottom: 40px;
    padding-left: 20%;
}
.footeroptions{
    text-decoration: none;
    color: aliceblue;
}
.contacttitle {
    padding-bottom: 10px;
    text-align: left;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 600;
}

.contactinfo {
    text-align: left;
    color:aliceblue;
    font-size: 1rem;
}
.logoscontact{
    display: flex;
    justify-content: center;
    align-self: center;
}

is{
    background-color: none;
    color: #ff702a;
    font-weight: 1000;
    font-size: 2rem;
}
@media screen and (min-width:760px){
    .contact{
        margin:0 auto;
        width:90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap:8%;
    }
    .boxcontact {
        padding:0}

    .boxcontact:last-child{
        align-self:flex-start;
    }
    .contacttitle {
        font-size: 1.2rem;
    }
    .contactinfo {
        font-size: 1rem;;
    }
    is:hover{
        scale: 1.2;
    }

    .contactinfo li:hover{
        padding-left: 1px;
    }
}